* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #111111;
    --second-bg-color: #151515;
    --text-color: white;
    /* --main-color: #04fffb; */
    --main-color: #ffd700;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

p {
    color: var(--text-color);
}